@model prjCourseDemo.ViewModel.CCourseViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<h4>TCourseInformation</h4>
<hr />
<form asp-action="Detail" class="product-details spad" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
    <div class="row">
        <div class="container">
            <!-- Related Products Section Begin -->
            <section class="">
                @*<div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="section-title">
                                <h2>Related Products</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="related__products__slider owl-carousel">
                            <div class="col-lg-3">
                                <div class="divImg">
                                    <div class="" style="">
                                        <img id="img1" src="~/images/@Model.courseimg_arr[0].FCourseImageName">
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">1</a></h6>
                                        <div class="">
                                            <input type="file" class="uploadPhoto" id="photo1" name="photo1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="divImg">
                                    <div class="" style="">
                                        <img id="img2" src="~/images/@Model.courseimg_arr[1].FCourseImageName">
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">2</a></h6>
                                        <div class="">
                                            <input type="file" class="uploadPhoto" id="photo2" name="photo2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="divImg">
                                    <div class="" style="">
                                        <img id="img3" src="~/images/@Model.courseimg_arr[2].FCourseImageName">
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">3</a></h6>
                                        <div class="">
                                            <input type="file" class="uploadPhoto" id="photo3" name="photo3" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="divImg">
                                    <div class="" style="">
                                        <img id="img4" src="~/images/@Model.courseimg_arr[3].FCourseImageName">
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">4</a></h6>
                                        <div class="">
                                            <input type="file" class="uploadPhoto" id="photo4" name="photo4" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="divImg">
                                    <div class="" style="">
                                        <img id="img5" src="~/images/@Model.courseimg_arr[4].FCourseImageName">
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">5</a></h6>
                                        <div class="">
                                            <input type="file" class="uploadPhoto" id="photo5" name="photo5" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="divImg">
                                    <div class="" style="">
                                        <img id="img6" src="~/images/@Model.courseimg_arr[5].FCourseImageName">
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">6</a></h6>
                                        <div class="">
                                            <input type="file" class="uploadPhoto" id="photo6" name="photo6" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </section>
            <!-- Related Products Section End -->
            <!-- Shop Details Section Begin -->
            <div class="row">
                <div class="col-lg-6" id="product_imgs">
                    <div class="product__details__img">
                        <div class="product__details__big__img team__item">
                            <div class="divImg">
                                @*big_img*@
                                <img id="img1" src="~/images/@Model.courseimg_arr[0].FCourseImageName">
                                <div class="team__item__text">
                                    <input type="file" class="uploadPhoto" id="photo1" name="photo1" />
                                </div>
                            </div>
                        </div>
                        <div class="product__details__thumb">
                            <div class="pt__item active">
                                <div class="divImg">
                                    <img id="img2" src="~/images/@Model.courseimg_arr[1].FCourseImageName">
                                    <div class="team__item__text">
                                        <input type="file" class="uploadPhoto" id="photo2" name="photo2" />
                                    </div>
                                </div>
                            </div>
                            <div class="pt__item">
                                <div class="divImg">
                                    <img id="img3" src="~/images/@Model.courseimg_arr[2].FCourseImageName">
                                    <div class="team__item__text">
                                        <input type="file" class="uploadPhoto" id="photo3" name="photo3" />
                                    </div>
                                </div>
                            </div>
                            <div class="pt__item">
                                <div class="divImg">
                                    <img id="img4" src="~/images/@Model.courseimg_arr[3].FCourseImageName">
                                    <div class="team__item__text">
                                        <input type="file" class="uploadPhoto" id="photo4" name="photo4" />
                                    </div>
                                </div>
                            </div>
                            <div class="pt__item">
                                <div class="divImg">
                                    <img id="img5" src="~/images/@Model.courseimg_arr[4].FCourseImageName">
                                    <div class="team__item__text">
                                        <input type="file" class="uploadPhoto" id="photo5" name="photo5" />
                                    </div>
                                </div>
                            </div>
                            <div class="pt__item">
                                <div class="divImg">
                                    <img id="img6" src="~/images/@Model.courseimg_arr[5].FCourseImageName">
                                    <div class="team__item__text">
                                        <input type="file" class="uploadPhoto" id="photo6" name="photo6" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <div class="product__label">Cupcake</div>
                        <h4>SWEET AUTUMN LEAVES</h4>
                        <h5>$26.41</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida
                        </p>
                        <ul>
                            <li>SKU: <span>17</span></li>
                            <li>Category: <span>Biscuit cake</span></li>
                            <li>Tags: <span>Gadgets, minimalisstic</span></li>
                        </ul>
                        <div class="product__details__option">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="2">
                                </div>
                            </div>
                            <a href="#" class="primary-btn">Add to cart</a>
                            <a href="#" class="heart__btn"><span class="icon_heart_alt"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product__details__tab">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Additional information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Previews(1)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="row d-flex justify-content-center">
                                @*<div class="col-lg-8">*@

                                <div class="col-lg-6">
                                    <div class="product__details__text">
                                        <div class="product__label">Cupcake</div>
                                        <input type="hidden" asp-for="casestatus" id="casestatus" />
                                        <h4>
                                            @*<label asp-for="@Model.course.FEchelonId" class="control-label"></label>：<label id="labEchelonId">@Html.DisplayFor(model => model.course.FEchelonId)</label>*@
                                            <label asp-for="@Model.course.FEchelonId" class="control-label"></label>：<label id="labEchelonId">@Model.course.FEchelonId</label>
                                        </h4>
                                        <span asp-validation-for="@Model.course.FEchelonId" class="text-danger"></span>
                                        <div>
                                            @Model.course.FCourseId
                                            @Html.DropDownListFor(model => model.course.FCourseId, (IEnumerable<SelectListItem>)Model.CourseDDL, new { @class = "form-control", id = "txtCategory" })
                                        </div>
                                        <br />
                                        <br />
                                        <ul>
                                            <li><label asp-for="@Model.course.FStartTime" class="control-label"></label>: <span><input asp-for="@Model.course.FStartTime" class="" /></span></li>
                                            <li><span asp-validation-for="@Model.course.FStartTime" class="text-danger"></span></li>
                                            <li><label asp-for="@Model.course.FEndTime" class="control-label"></label>: <span><input asp-for="@Model.course.FEndTime" class="" /></span></li>
                                            <li><span asp-validation-for="@Model.course.FEndTime" class="text-danger"></span></li>
                                            <li><label asp-for="@Model.course.FTime" class="control-label"></label>: <span><input asp-for="@Model.course.FTime" class="" /></span></li>
                                            <li><span asp-validation-for="@Model.course.FTime" class="text-danger"></span></li>

                                            <li>
                                                <label asp-for="@Model.course.FBasicPeople" class="control-label"></label>:
                                                <div class="product__details__option">
                                                    <div class="quantity">
                                                        <div class="pro-qty">
                                                            <input type="text" id="txtBasicPeople" value="@Model.course.FBasicPeople">
                                                        </div>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="@Model.course.FBasicPeople" class="text-danger"></span>
                                            </li>
                                            <li>
                                                <label asp-for="@Model.course.FLimitPeople" class="control-label"></label>:
                                                <div class="product__details__option">
                                                    <div class="quantity">
                                                        <div class="pro-qty">
                                                            <input id="txtLimitPeople" type="text" value="@Model.course.FLimitPeople">
                                                        </div>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="@Model.course.FLimitPeople" class="text-danger"></span>
                                            </li>

                                            <li><label asp-for="@Model.course.FClassState" class="control-label"></label>:<br /> <span>
                                                @Html.DropDownListFor(model => model.course.FClassState, (IEnumerable<SelectListItem>)Model.ClassDDL, new { @class = "form-control", id = "txtCategory1" })</span><br /><br /></li>
                                            <li><span asp-validation-for="@Model.course.FClassState" class="text-danger"></span></li>
                                            <li><label asp-for="@Model.course.FClassRoom" class="control-label"></label>: <span><input asp-for="@Model.course.FClassRoom" class="" /></span></li>
                                            <li><span asp-validation-for="@Model.course.FClassRoom" class="text-danger"></span></li>
                                            <li><label asp-for="@Model.course.FTeacher" class="control-label"></label>: <span><input asp-for="@Model.course.FTeacher" class="" /></span></li>
                                            <li><span asp-validation-for="@Model.course.FTeacher" class="text-danger"></span></li>
                                            <li><label asp-for="@Model.course.FTeacher" class="control-label"></label>: <span><input asp-for="@Model.course.FDiscountDate" class="" /></span></li>
                                            <li><span asp-validation-for="@Model.course.FDiscountDate" class="text-danger"></span></li>
                                        </ul>

                                        <div class="product__details__option">
                                            <input id="addCart" class="primary-btn" type="button" value="Add to cart" />
                                            @*<a href="#" class="primary-btn">Add to cart</a>*@
                                            @*<a href="#" class="heart__btn"><span class="icon_heart_alt"></span></a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <p>
                                        This delectable Strawberry Pie is an extraordinary treat filled with sweet and
                                        tasty chunks of delicious strawberries. Made with the freshest ingredients, one
                                        bite will send you to summertime. Each gift arrives in an elegant gift box and
                                        arrives with a greeting card of your choice that you can personalize online!2
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <p>
                                        This delectable Strawberry Pie is an extraordinary treat filled with sweet and
                                        tasty chunks of delicious strawberries. Made with the freshest ingredients, one
                                        bite will send you to summertime. Each gift arrives in an elegant gift box and
                                        arrives with a greeting card of your choice that you can personalize online!3
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Save" class="primary-btn" style="border:2px blue none;" />*@
            </div>
        </div>
        <!-- Shop Details Section End -->
    </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <!-- toastr v2.1.4 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script>
        getPeopleNumber();
        function getPeopleNumber() {
            let status = $("#casestatus").val();
            console.log(status);
            //新增課程->2
            if (status == 2) {
                $("#txtBasicPeople").val(0);
                $("#txtLimitPeople").val(0);
            }
        }

        $(".pt__item").on("click", function (e) {
            let cover_picture = document.getElementsByClassName("product__details__big__img")[0].innerHTML;
            let current = e.currentTarget;
            let currentdiv = e.currentTarget.closest("div").innerHTML;

            //
            document.getElementsByClassName("product__details__big__img")[0].innerHTML = currentdiv;
            e.currentTarget.closest("div").innerHTML=cover_picture
        })

        //let Photo1 = document.getElementsByClassName("classPhoto");
        let Img1 = document.getElementById("img1");

        //$(".uploadPhoto").change(fun
        $("#product_imgs").on("change", ".uploadPhoto", function (e) {
            //因為換過位置
            //先去母容器裡面找 找到 .uploadPhoto 的 change 事件
            //讀變動要執行的
            //沒寫母容器 會錯
            console.log("aa");
            //練習
            //$("#photo1").closest(".test").css("background", "yellow");
            //$(e.target).closest(".test").css("background", "yellow");
            //let a = $(e.target).closest(".test");
            //$(a).children("div").css("background", "yellow")


            //e.target->就是.uploadPhoto
            //往上找到div
            let areaImg = $(e.target).closest(".divImg");
            console.log(areaImg.innerHTML);
            //拿到上傳圖片
            let photo = e.target.files[0];
            //建立FileReader物件
            const reader = new FileReader();
            //圖讀完後放到img的src屬性
            reader.addEventListener("load", (evt) => {
                //evt.target.result 拿到 base64
                console.log(evt.target.result);
                //areaImg.children("div").children("img").attr("src", evt.target.result);
                console.log(areaImg.children("img").innerHTML)
                areaImg.children("img").attr("src", evt.target.result);
            })
            //讀圖
            reader.readAsDataURL(photo);
        })

        $("#addCart").click(async function () {
            let EchelonId = document.getElementById("labEchelonId").innerText;
            console.log(EchelonId);
            let response = await fetch("@Url.Content("~/Course/AddShoppinCat")" + `?fEchelonId=${EchelonId}`);
            //toastr["success"]("商品已加入購物車！");
            toastr.options = {
                onclick: function () {
                   // console.log("aa");
                    window.location.href = "@Url.Content("~/Shopping/Shoppingcart")";
                }
            }
            toastr.success("success");
            //toastr.options = { onclick: function () { alert("You clicked Me!"); } }

        })


            //Photo1[0].addEventListener("change", (e) => {
            //    console.log("aa");
            //    let photo = e.target.files[0];
            //    console.log(photo)
            //    const reader = new FileReader();

            //    reader.addEventListener("load", (evt) => {
            //        console.log(evt.target.result);
            //        Img1.src = evt.target.result;
            //    })

            //    reader.readAsDataURL(photo);
            //})
    </script>
}


