@model IEnumerable<prjCourseDemo.ViewModel.CCourseModelViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- Wishlist Section Begin -->
<section class="wishlist spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wishlist__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FCategory)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FTotalHours)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FTotalNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FGrade)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FSchoolYear)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FSummary)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FTeachingMaterial)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FOriginalPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FSpecialOffer)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        @*<div class="product__cart__item__pic">
                                                <img src="img/shop/cart/cart-1.jpg" alt="">
                                            </div>*@
                                        <div class="product__cart__item__text">
                                            <h6> @Html.DisplayFor(modelItem => item.FName)</h6>
                                        </div>
                                    </td>
                                    <td class="cart__price">@Html.DisplayFor(modelItem => item.FCategory)</td>
                                    <td class="cart__stock">@Html.DisplayFor(modelItem => item.FTotalHours)</td>
                                    <td class="cart__stock">@Html.DisplayFor(modelItem => item.FTotalNumber)</td>
                                    <td class="cart__stock">@Html.DisplayFor(modelItem => item.FGrade)</td>
                                    <td class="cart__stock">@Html.DisplayFor(modelItem => item.FSchoolYear)</td>
                                    <td class="cart__stock">@Html.DisplayFor(modelItem => item.FSummary)</td>
                                    
                                    
                                    <td class="cart__stock">@Html.DisplayFor(modelItem => item.FTeachingMaterial)</td>
                                    <td class="cart__stock">@Html.DisplayFor(modelItem => item.FOriginalPrice)</td>
                                    <td class="cart__stock">@Html.DisplayFor(modelItem => item.FSpecialOffer)</td>
                                    <td class="cart__btn"><a class="primary-btn" asp-action="Detail" asp-route-id="@item.FCourseId">Edit</a></td>
                                    <td class="cart__close"><span><a class="icon_close" asp-action="Delete" asp-route-id="@item.FCourseId"></a></span></td>
                                </tr>


                                @*<td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>*@
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
