@model prjCourseDemo.ViewModel.CShoppingCartViewModel

@{
    ViewData["Title"] = "Shoppingcart";
}

@*<h1>Shoppingcart</h1>

<h4>CShoppingCartViewModel</h4>*@
@*<hr />*@
<div class="">
    <div class="">
        <form asp-action="Shoppingcart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Breadcrumb Begin -->
            <div class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="breadcrumb__text">
                                <h2>購物車</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <span>Shopping cart</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb End -->
            <!-- Shopping Cart Section Begin -->
            <section class="shopping-cart spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="shopping__cart__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>課程</th>
                                            <th>數量</th>
                                            <th>金額</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.ShoppingCart_List != null)
                                            {
                                                for (int i = 0; i < Model.ShoppingCart_List.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="display:none">@Model.ShoppingCart_List[i].EchelonId</td>
                                                        <td class="product__cart__item">
                                                            <div class="product__cart__item__pic">
                                                                <img src="@Url.Content("~/images/")@Model.ShoppingCart_List[i].PhotoName" style="width:90px;" alt="">
                                                            </div>
                                                            <div class="product__cart__item__text">
                                                                <h6>@Model.ShoppingCart_List[i].Name</h6>
                                                                <h5>$@Model.ShoppingCart_List[i].Price.ToString("###,###,##0")</h5>
                                                            </div>
                                                        </td>
                                                        <td class="quantity__item">
                                                            <div class="quantity">
                                                                <div class="pro-qty">
                                                                    <span id="minusCount" class="dec qtybtn">-</span>
                                                                    <input type="text" value="@Model.ShoppingCart_List[i].Count">
                                                                    <span id="addCount" class="inc qtybtn">+</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="cart__price">@Model.ShoppingCart_List[i].Course_TotalPrice.ToString("###,###,##0")</td>
                                                        <td class="cart__close"><span class="icon_close"></span></td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="continue__btn">
                                            <a href="@Url.Content("~/Course/List")">繼續購買</a>
                                        </div>
                                    </div>
                                @*<div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="continue__btn update__btn">
                                        <a href="@Url.Content("~/Course/List")">Continue Shopping</a>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-lg-4">
                            @*<div class="cart__discount">
                                <h6>Discount codes</h6>
                                <form action="#">
                                    <input type="text" placeholder="Coupon code">
                                    <button type="submit">Apply</button>
                                </form>
                            </div>*@
                            <div class="cart__total">
                                <h6>購物車總數</h6>
                                <ul>
                                    <li>總金額 <span id="course_Price">@Model.TotalPrice.ToString("###,###,##0")</span></li>
                                </ul>
                                <a href="#" class="primary-btn">結帳</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Shopping Cart Section End -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //e.target 指的是觸發的事件evt的那個物件
        //this 會隨著環境改變
    $("table").on("click", ".pro-qty #addCount", async function (e) {
                console.log("aa");
            let row = $(e.target).closest("tr");
            let EchelonId = row.find("td:eq(0)").text();
            console.log(EchelonId);
            let response = await fetch("@Url.Content("~/Shopping/AddShoppinCat")" + `?fEchelonId=${EchelonId}`);
            let data = await response.json()
        showTable(data.shoppingCart_List);
        $("#course_Price").text(data.totalPrice);
    })

        $("table").on("click", ".cart__close .icon_close", async function (e) {
            let row = $(e.target).closest("tr");
            let EchelonId = row.find("td:eq(0)").text();
            console.log(EchelonId);
            let response = await fetch("@Url.Content("~/Shopping/RemoveShoppingCart")" + `?fEchelonId=${EchelonId}`);
            let data = await response.json();
            showTable(data.shoppingCart_List);
            $("#course_Price").text(data.totalPrice);
        })
        $("table").on("click", ".pro-qty #minusCount", async function (e) {
            let row = $(e.target).closest("tr");
            //let count = row.find("td:eq(2)").text();
            let EchelonId = row.find("td:eq(0)").text();
            console.log(EchelonId);
            let response = await fetch("@Url.Content("~/Shopping/MinusShoppingCart")" + `?fEchelonId=${EchelonId}`);
            let data = await response.json();
            showTable(data.shoppingCart_List);
            $("#course_Price").text(data.totalPrice);
        })

        function showTable(arr) {
        const docFrag = $(document.createDocumentFragment());
        $.each(arr, function (idx, rowdata) {
            const { echelonId, count, price, name, course_TotalPrice } = rowdata;
            let row = `<tr><td style="display:none">${echelonId}</td><td class="product__cart__item">`;
            row += `<div class="product__cart__item__pic"><img src="@Url.Content("~/img/shop/cart/cart-1.jpg")"></div>`;
            row += `<div class="product__cart__item__text"><h6>${name}</h6><h5>$${price}</h5></div></td>`;
            row += `<td class="quantity__item"><div class="quantity"><div class="pro-qty"><span id="minusCount" class="dec qtybtn">-</span>`;
            row += `<input type="text" value="${count}"> <span id="addCount" class="inc qtybtn">+</span></div></div></td>`;
            row += `<td id="coursetotal_price" class="cart__price">${course_TotalPrice}</td>`
            row += `<td class="cart__close"><span class="icon_close"></span></td></tr>`;
            docFrag.append(row);
        })
        $("tbody").html(docFrag);
    }

        @*//e.target 指的是觸發的事件evt的那個物件
        $(".pro-qty #addCount").click(async (e) => {
        console.log(e.target);
        //let row = $(e.target).closest("tr");
        //let EchelonId = row.find("td:eq(0)").text();
        //let response = await fetch("@Url.Content("~/Shopping/AddShoppinCat")" + `?fEchelonId=${EchelonId}`);
        })
        //this 會隨著環境改變
        $(".pro-qty #minusCount").click( () => {
            console.log(this)
            //let row = $(this).closest("tr");
            //let EchelonId = row.find("td:eq(0)").text();
            //let response = await fetch("@Url.Content("~/Shopping/MinusShoppingCart")" + `?fEchelonId=${EchelonId}`);
        })*@
    </script>
}
